.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.banner h1 {
  color: #fff;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}